  <h1>Confirmation Page</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in order track by $index" id="{{product.Id}}">
        <td>{{product.Name}}</td>
      </tr>
    </tbody>
  </table>

 

