<div class="page-header">
   <h1>
      Electric Shop
   </h1>
   <h2 ng-if="!loginSuccess">Welcome {{userData.username}}</h2>
</div>
  <form id="loginForm" ng-if="loginSuccess">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">User Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUserName" placeholder="User Name" ng-model="userData.username">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="login()">Sign in</button>
      </div>
    </div>
  </form>
   <form id="editDetailsForm" ng-if="!loginSuccess">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputAdress" placeholder="Address" ng-model="userData.address">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="edit()">Edit</button>
        <button type="submit" class="btn btn-primary" ng-click="goToShop()">Go To Shop</button>
      </div>
    </div>
  </form>
