<div class="page-header">
   <h1>
      Elecric Shop
   </h1>
   <h2 >Register</h2>
</div>
  <form id="loginForm">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">User Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUserName" placeholder="User Name" ng-model="userData.username">
      </div>
    </div>
     <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="userData.name">
      </div>
    </div>
     <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Adress" placeholder="Address" ng-model="userData.address">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="register()">Register</button>
      </div>
    </div>
