          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Add To Cart</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products track by $index" id="{{product.Id}}">
        <td>{{product.Name}}</td>
        <td>{{product.price__c}}</td>
        <td><button type="button" class="btn btn-primary"  ng-click="addToCart(product)">Add</button></td>
      </tr>
    </tbody>
    
  </table>
  <button ng-if="!stockError" type="button" class="btn btn-primary"  ng-click="createOrder()">Create Order</button>

  <div class="continueOrder" ng-if="stockError">
    <h2>Stock error. the order will take more than a week</h2>
    <button type="button" class="btn btn-primary"  ng-click="continueOrder()">Continue Order</button>
   </div>

  <div class="cart" ng-if="myCart.length > 0">
  <h2>My Cart</h2>
      <table class="table table-striped" id="cart">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Remove From Cart</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in myCart track by $index">
            <td>{{product.Name}}</td>
            <td><button type="button" class="btn btn-primary"  ng-click="remove($index)">Remove</button></td>
          </tr>
        </tbody>
      </table>
   </div>
 

